table {
    width: 100%;
}

.modal-card {
    width: 80%;
}

.model-card-small {
    width: 40%;
}

.tag {
    margin-right: 10px;
}

.button-tag {
    margin-right: 10px;
}

#question-tag-text {
    width: 100px;
    margin-right: 10px;
}

#or-label {
    margin-left: 10px;
    margin-right: 10px;
}